{
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "auto"
}
