.light-theme {
  --background-color: #000;
  --surface-color: #121212;
  --surface-variant: #242424;
  --accent-color: #fefefe;
  --primary-color: #ac82a4;
  --secondary-color: #9b7b93;
  --error-color: #B00020;
  --info-color: #2196F3;
  --success-color: #4CAF50;
  --warning-color: #FB8C00;
}

.dark-theme {
  --background-color: #000;
  --surface-color: #121212;
  --surface-variant: #242424;
  --accent-color: #fefefe;
  --primary-color: #ac82a4;
  --secondary-color: #9b7b93;
  --error-color: #B00020;
  --info-color: #2196F3;
  --success-color: #4CAF50;
  --warning-color: #FB8C00;
}
